/* 
blue: #080336 
yellow: #FFBD59 - #FFDE59
clarito: #F7F7F0 */

body {
    background-color: #080336;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}
body a{
    color: #F7F7F0;
    text-decoration: inherit;
}
/* Navbar */
#navbar {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-top: 0%;
    font-weight: 100;
    color: #F7F7F0;
    margin-right: 10px;
}

.item-navbar {
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #F7F7F0;
    list-style: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 189, 89, 0.8);
    margin-right: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(255, 222, 89, 0.6);
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Navbar */
/* Presentacion */
#contenedor-presentacion{
    font-family: 'Roboto Mono', monospace;
    color:#F7F7F0;
    display: flex;
    margin-left: 100px;
    margin-top: 100px;

}
#contenedor-presentacion img{
    width: 150px;
    height: 150px;
    margin-top: 50px;
}
#contenedor-presentacion div{
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
#contenedor-presentacion h1{
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
}
#contenedor-presentacion h4{
    font-size: 20px;
    font-weight: 400;
    color: #FFDE59;
    margin-bottom: 5px;
}
#contenedor-presentacion h5{
    font-size: 15px;
    font-weight: 100;
    color: #F7F7F0;
    margin-top: 5px;
}
.contenedor-logos{
    display: flex;
    width: 700px;
    margin-left: 100px;
    margin-bottom: 40px;
}
.contenedor-logos img{
    width: 40px;
    padding: 5px;
}
/* Presentacion */
/* Sobre mi */
#contenedor-sobre-mi{
    margin-right: 300px;
    display: flex;
    margin-left: 200px;
    margin-top: 300px;
}
#contenedor-sobre-mi img{
    width: 250px;
    position: absolute;
    z-index: 1;
    right: 300px;
}
#contenedor-descripcion{
    width: 600px;
    margin-top: 0px;
    color: #F7F7F0;
}
#contenedor-descripcion h2{
    margin-top: 0px;
    font-family: 'Roboto Mono', monospace;
    color: rgba(255, 222, 89, 0.8);
    font-weight: 400;
    border-bottom: 1px solid rgba(255, 222, 89, 0.7); 
}
#contenedor-descripcion p{
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    color:#F7F7F0;
    font-weight: 200;
    text-align: justify;
}
.contenedor{
    /* display: flex; */
    justify-content: flex-end;

}
.cuadrado{
    position: absolute;
    background-color: #FFDE59;
    width: 250px;
    height: 300px;
    right: 280px;

}
.logo{
    width: 40px;
    height: 40px;
    opacity: 0.7;
    padding: 5px;
}
.logo2{
    width: 35px;
    height: 40px;
    opacity: 0.7;
    padding: 5px;
}
.contenedor-logosB{
    display: flex;
    width: 700px;
    margin-left: 200px;
    margin-bottom: 200px;
}

/* Sobre mi */
/* Experiencia */
/* #contenedor-experiencia{
    margin-right: 300px;
    display: flex;
    margin-left: 200px;
    margin-top: 300px;
}
#contenedor-contenido-experiencia{
    width: 600px;
    margin-top: 0px;
    color: #F7F7F0;
}
#contenedor-contenido-experiencia h2{
    margin-top: 0px;
    font-family: 'Roboto Mono', monospace;
    color: rgba(255, 222, 89, 0.8);
    font-weight: 400;
}
#contenedor-contenido-experiencia p{
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
    color:#F7F7F0;
    font-weight: 200;
    text-align: justify;
} */

/* Experiencia */